.table-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    color: $active-element-color;
    font-size: 16px;

    .table-list__item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5px;
        padding: 15px 0px 15px 100px;
        background-color: $passive-element-color;
        opacity: 0;
        transition: all .1s linear;
        
        &:last-child {
            margin-bottom: 0;
        }

        .table-list__icon {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            transition: all .3s linear;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                width: 60%;
                transform: translate(-50%, -50%);
                transition: all .3s linear;
            }
        }

        .table-list__name {
            width: 40%;
            padding: 0 10px;
            text-transform: uppercase;
            text-align: center;
        }

        .table-list__age {
            width: 10%;
            padding: 0 10px;
            font-weight: 500;
            text-align: center;
        }

        .table-list__phone {
            width: 35%;
            padding: 0 10px;
            font-weight: 500;
            text-align: center;
        }

        .table-list__id {
            position: absolute;
            top: 50%;
            left: 40%;
            opacity: 0;

            font-size: 70px;
            font-weight: 900;
            color: $hover-element-color__light;
            transform: translate(-50%, -50%);
            transition: all .6s ease-in-out;
        }

        .table-list__favourite {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            top: 20px;
            right: 20px;
            cursor: pointer;
            background-image: url('../../../assets/icons/favourite_icon.svg');
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            
            &.favourite_active {
                background-color: $hover-element-color__light;
            }
        }

        &:hover {
            .table-list__icon {
                background-color: $hover-element-color__light;
            }

            .table-list__id {
                left: 0;
                opacity: 1;
            }

            img {
                width: 80%;
            }
        }
    }
}